{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block content %}
    <br>
<br>
<br>
<br>
    <h1>Личная страница пользователя {{ user_obj.username }}</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>


    <h2 class="text-center clear"> Мои избранные фотки:</h2>
    <div class="row mt-5">
    {%for image in request.user.favorites.all%}
    <div class="col-sm-6">
          <div class="row no-gutters" >
            <div class="col-md-4">
              <img src="{{image.image.url}}" class="card-img" style="width:120px;height: 120px;" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{image.sign}}</h5>
                  <p>{{image.author}}</p>
                     <p>{{image.created_at}}</p>
                    <p>{{image.updated_at}}</p>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm">
                           <a href="{% url 'image_detail' image.pk %}">Детально</a>
                        </div>
                         {% if request.user.is_authenticated%}
                          {% if request.user == image.author or perms.gallery.change_image%}
                        <div class="col-sm">
                           <a href="{% url 'image_update' image.pk %}">Изменить</a>
                        </div>
                          {% endif %}
                          {% if request.user == image.author or gallery.gallery.delete_image%}
                        <div class="col-sm">
                            <form action="{% url 'image_delete' image.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm mr-5">Удалить</button>
                        </form>
                        </div>
                          {% endif %}

                           <div class="col-sm">
                                <form action="{% url 'add_favorite' image.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm mr-5">Добавить в избранное</button>
                                </form>
                        </div>
                          <div class="col-sm">
                                <form action="{% url 'add_favorite' image.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm mr-5">Удалить из избранного</button>
                                </form>
                        </div>
                          {% endif %}
                      </div>
                    </div>
              </div>
            </div>
          </div>
    </div>
    {%endfor%}

</div>




{% endblock %}