@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
    background-size: cover !important;
    background: url("/static/images/background.png") no-repeat;
}

.container {
    margin-top: 30px;
}